@import "../../styles/variables.scss";

.single-overlay {
	width: 100%;
	display: flex;

	&__mainsection {
		display: flex;
		flex-direction: column;
		width: 100%;

		&__header {
			display: flex;
			justify-content: space-between;
			height: 40px;
			padding: 10px;
			background-color: #0f0f12;

			&--title {
				font-size: 19px;
			}

			&--start {
				display: flex;
				align-items: center;
			}

			&--end {
				display: flex;
			}

			&--middle {
				display: flex;
				align-items: center;
				width: 100px;
			}
		}

		&__header--icon {
			margin-right: 10px;
		}
	}
}

.buttons {
	display: flex;
	align-items: center;

	&__toggle {
		display: flex;
		justify-content: center;
		align-items: center;

		&--hide {
			display: none;
		}

		&--show {
			display: block;
		}
	}
}

.iconbutton {
	display: flex;
	align-items: baseline;
	cursor: pointer;

	svg {
		width: 20px;
		height: 20px;
		margin: 0 5px;
	}

	&:hover path {
		fill: $orange-light;
	}

	&--people {
		position: relative;
		&--amount {
			margin-right: 5px;
			font-size: 16px;
			font-weight: 300;
		}
	}
}

.subsection {
	position: fixed;
	top: 20px;
	right: 20px;
	width: 100%;
	max-width: 300px;

	&__header {
		display: flex;
		justify-content: flex-end;
		height: 40px;
		align-items: center;
		background-color: $background-dark;

		&--title {
			color: $white;
			&:hover {
				color: $orange-dark;
			}
		}
	}

	&__content {
		height: 100vh;
		padding: 10px;
		background-color: rgba(15, 15, 18, 0.8);
		transition: transform 0.3s 0s;

		@media screen and (min-width: $breakpoint-xl) {
			height: calc(100vh - 100px);
			background-color: $background-dark;
		}
	}

	@media screen and (min-width: $breakpoint-sm) {
		top: 30px;
	}
	@media screen and (min-width: $breakpoint-md) {
		position: inherit;
	}

	@media screen and (min-width: $breakpoint-xl) {
		width: 30%;
	}
}
