@import "../../styles/variables.scss";

.chatsingle {
  width: 100%;
  display: flex;

  @media screen and (min-width: $breakpoint-lg) {
		
	}
}

.chatsection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
	
	&__header {
		display: flex;
		justify-content: space-between;
		height: 40px; 
		padding: 10px;
		background-color: #0f0f12;

		&--start {
			display: flex;
			align-items: center;
		}

		&--end {
			display: flex;
		}
	}

	.chatsection__header--icon {
		margin-right: 10px;
	}
}

.buttons {
	display: flex;
	align-items: baseline;

	&__toggle {
		display: flex;
    justify-content: center;
		align-items: center;
		
		&--hide {
			display: none;
		}

		&--show {
			display: block;
		}

		&--close {

		}
	}
}

.iconbutton {
	display: flex;
	align-items: baseline;

	svg {
		width: 20px;
		height: 20px;
		margin: 0 5px;
	}

	&:hover path {
		fill: $orange-light;
	}
}

.usersection {
	width: 100%;
	max-width: 300px;

	&__header {
		display: flex;
    justify-content: flex-end;
    height: 40px;
    align-items: center;
		background-color: $background-dark;

		&--title {
			color: $white;
			&:hover {
				color: $orange-dark;
			}
		}
	}

	&__content {
		min-height: 600px;
		padding: 10px;
		background-color: $background-dark;
		transition: transform 0.3s 0s;
	}

  @media screen and (min-width: $breakpoint-lg) {
    width: 25%;
  }
}
