@import "../../styles/variables.scss";

.button {
	width: auto;
	height: auto;
	padding: 7px 25px;
	font-size: 16px;
	border: none;
	border-radius: 6px;
	outline: none;
	transition: background-color 0.5s;
	cursor: pointer;

	@media screen and (min-width: $breakpoint-lg) {
		font-size: 1.2vw;
	}

	&--primary {
		color: $white;
		background-color: $orange-dark;

		&:hover {
			background-color: $orange-light;
		}
	}
}
