@import "../../styles/variables.scss";

.chat {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: 20px;

  &__area {
    display: table-cell;
    vertical-align: bottom;
    max-height: 500px;
    height: 500px;
    overflow: scroll;
  }

  &__message {
    margin: 5px 0;

    &--text {
      overflow-wrap: anywhere;
    }
  }

  &__input {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
  
    &--text {
      width: 100%;
      margin-right: 10px;
      padding: 5px;
      resize: none;
      border-radius: 6px;
      border: none;
      background-color: $input-background;
      color: $white;
    
      &:focus {
        background-color: $background-dark;
      }
    }
  }
}

.chatsection__body {
  max-height: 500px;
  height: 500px;
  overflow-y: scroll;
  overflow: scroll;
}

.isTypingSpacer {
  height: 35px;
}