@import "../../styles/variables.scss";

.chat {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-right: 20px;

	&__area {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		overflow-y: scroll;
		overflow: scroll;
		height: 100%;
	}

	&__message {
		margin: 5px 0;
		position: relative;

		&--text {
			overflow-wrap: anywhere;
		}

		&--time {
			position: absolute;
			right: 0;
			top: 0;
			text-align: right;
			color: $light-grey;
		}

		&--joined {
			font-style: italic;
			color: $light-grey;
		}

		&--left {
			font-style: italic;
			color: $light-grey;
		}
	}

	&__input {
		display: flex;
		flex-direction: row;
		margin: 10px 0;

		&--text {
			width: 100%;
			margin-right: 10px;
			padding: 5px;
			resize: none;
			border-radius: 6px;
			border: none;
			background-color: $input-background;
			color: $white;

			&:focus {
				background-color: $background-dark;
			}
		}
	}
}

.chatsection__body {
	height: calc(100vh - 211px);
	overflow-y: scroll;
	overflow: scroll;
}

.isTypingSpacer {
	height: 35px;

	&__text {
		font-style: italic;
		color: $light-grey;

		span {
			font-style: normal;
			color: $red-dark;
			margin-right: 10px;
		}
	}
}
