@import "../../styles/variables.scss";

.homepage {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100vh;

	@media screen and (min-width: $breakpoint-sm) {
		flex-direction: row;
	}

	&__spacer {
		order: 2;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: auto;
		padding: 20px;
		background-color: $background-dark;

		@media screen and (min-width: $breakpoint-sm) {
			order: 1;
			width: 70%;
			padding: 50px;
		}

		@media screen and (min-width: $breakpoint-lg) {
			justify-content: flex-start;
			width: 50%;
			padding: 100px;
		}

		&--background {
			order: 1;
			padding: 50px;
			background: url("../../images/homepage.jpg");

			@media screen and (min-width: $breakpoint-sm) {
				width: 30%;
				padding: 0px;
			}

			@media screen and (min-width: $breakpoint-lg) {
				width: 50%;
			}
		}

		&__content {
			max-width: 330px;

			@media screen and (min-width: $breakpoint-lg) {
				max-width: 100%;
			}

			h1 {
				margin-bottom: 10px;
				font-family: $font-default;
				font-size: 24px;

				span {
					color: $orange-dark;
				}
			}

			@media screen and (min-width: $breakpoint-lg) {
				h1 {
					font-size: 2vw;
				}
			}

			&__form {
				form {
					display: flex;
					flex-direction: column;
					margin-top: 25px;

					label {
						margin-left: 5px;
						margin-bottom: 5px;
						color: $gray-light;
						font-family: $font-default;
						font-size: 16px;
						font-weight: lighter;
					}

					@media screen and (min-width: $breakpoint-lg) {
						label {
							font-size: 1.4vw;
						}
					}

					input[type="text"] {
						margin-bottom: 0px;
						padding: 6px;
						border: 1px solid #ced4da;
						background-color: $white;
						border-radius: 6px;
						max-width: 330px;

						&:focus {
							border-color: $orange-dark;
							outline: none;
						}
					}

					.button {
						margin-top: 15px;
						margin-right: auto;
					}
				}

				&__error {
					margin-top: 5px;
					color: $orange-dark;
				}
			}
		}
	}
}
