@import "../../styles/variables.scss";

.sidebar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	max-width: 100px;
	min-width: 100px;
	min-height: 100vh;
	padding-top: 20px;
	background-color: $background-dark;

	&__nav {
		display: flex;
		flex-direction: column;
		padding: 20px;

		a {
			text-align: center;
			color: $white;
		}

		.active &__combo path,
		.active &__combo p {
			color: $orange-dark;
			fill: $orange-dark;
		}

		&__combo {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			margin-bottom: 25px;
			cursor: pointer;

			svg {
				width: 30px;
				height: 30px;
				margin-bottom: 5px;
			}

			&:hover path,
			&:hover p {
				fill: $orange-light;
				color: $orange-light;
			}

			&--logout {
				&:hover path,
				&:hover p {
					fill: $red-light;
					color: $red-light;
				}
			}
		}
	}

	&__logout {
		display: flex;
		padding: 20px;
	}
}
