@import "../../styles/variables.scss";

.layout {
	display: flex;
	width: 100%;
	min-height: 100vh;
	padding: 20px;
	background-color: $background-light;

	@media screen and (min-width: $breakpoint-sm) {
		padding: 30px;
	}

	@media screen and (min-width: $breakpoint-lg) {
		padding: 40px;
	}
}
