@import "../../styles/variables.scss";

.videosingle {
	display: flex;
	width: 100%;
	background-color: $background-dark;
}

.videosection {
	display: flex;
	width: 75%;
	flex-direction: column;
	padding-bottom: 15px;

	&__header {
		background-color: $background-dark;
		color: $orange-dark;
		font-size: 28px;
		min-height: 40px;
		padding: 5px;
	}
	&__content {
		height: 100%;
		display: flex;
		flex-direction: column;
		&__info {
			display: flex;
			justify-content: space-between;
			margin-bottom: 10px;
			padding: 5px;
		}

		&__queue {
			background-color: $background-light;
			margin: 0px 20px;
			height: 100%;
			padding: 5px;

			&__header {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				margin-bottom: 10px;
			}

			&__videos {
				display: flex;
				flex-direction: row;
				justify-content: space-around;
			}
		}
	}
}

.videochatsection {
	display: flex;
	flex-direction: column;
	width: 25%;

	&__header {
		color: $orange-dark;
		background-color: $background-dark;
		font-size: 28px;
		height: 40px;
		padding: 5px;
	}

	&__chat {
		height: 100%;
		padding: 5px;
		background-color: $background-light;
	}
}
