// Fonts
$font-default: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
	"Droid Sans", "Helvetica Neue", sans-serif;

// Breakpoints
$breakpoint-sm: "600px";
$breakpoint-md: "768px";
$breakpoint-lg: "992px";
$breakpoint-xl: "1200px";

// Colors
$white: #fff;
$blue-dark: #2980b9;
$gray-light: #95a5a6;
$orange-light: #e67e22;
$orange-dark: #d35400;
$red-light: #e74c3c;
$red-dark: #c0392b;
$background-light: #18191e;
$background-dark: #0f0f12;
