@import "../../styles/variables.scss";

.video {
	display: flex;
	flex-direction: column;

	&__header {
		background-color: $background-dark;
		color: $orange-dark;
		font-size: 28px;
		min-height: 40px;
		padding: 5px;
	}
	&__video {
		height: 50vh;
		position: relative;

		&__player {
			// position: absolute;
			top: 0;
			left: 0;
		}
	}
	&__content {
		height: 100%;
		display: flex;
		flex-direction: column;
		&__info {
			display: flex;
			justify-content: space-between;
			margin-bottom: 10px;
			padding: 5px;
		}

		&__queue {
			background-color: $background-light;
			margin: 0px 20px;
			height: 100%;
			padding: 5px;

			&__header {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				margin-bottom: 10px;

				&__buttons {
					position: relative;
				}
			}

			&__videos {
				display: flex;
				flex-wrap: wrap;
				flex-direction: row;
				justify-content: space-around;
			}
		}
	}
}
